:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cold: #f4f4fd;
  --white: #ffffff;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}
.address {
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/** !============HEADER============ */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  color: var(--navy-blue);
}
.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
/* .header-contact-items {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
} */
.header-address {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}
.header-tel {
  color: var(--slate);
}
.link-hover:focus,
.link-hover:hover {
  color: var(--ocean);
}
/**  =============HERO============ --> */
.hero {
  background-color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
}
.hero-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-btn {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: inherit;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--ocean);
}
/** ===========ABOUT US=========== --> */
.about-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/** ==========WHAT ARE WE DOING======== --> */
.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
/** =============OUR TEAM============== --> */
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-position {
  line-height: 24px;
  letter-spacing: 0.02em;
}
/**-- ================FOOTER=============== --> */
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}
.footer {
  background-color: var(--navy-blue);
}
.logo-web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio-footer {
  color: var(--cold);
}
/*!```````````````P O R T F O L I O```````````````` */
.gallery-btn {
  color: var(--iris);
  width: 116px;
  height: 48px;
  border: 1px solid;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--cold);
  font-family: inherit;
}
.gallery-btn:focus,
.gallery-btn:hover {
  color: var(--white);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.gallery-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
